*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

:root {
    --color-primary: #833471;
    --color-secondary: #B53471;
    --color-tertiary: #D980FA;

    --color-white: #fff;
    --color-black: #222f3e;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

html {
	box-sizing: border-box;
    font-size: 62.5%;
}

.margin-top-small {
    margin-top: 20px;
}

body {
    text-align: center;
    box-sizing: border-box;
    color: #2d3436;
    background-color: #ecf0f1;
    font-family: 'Raleway', sans-serif;
}

button {
  background-color: #ED4C67;
  padding: 10px;
  border-radius: 100px;
  border: none;
  color: #eee;
  cursor: pointer;
  margin: 5px;
}

button:focus {
    outline: none;
}

.primary-header {
    font-family: 'Aclonica', sans-serif;
}

.scale {
    color: #ecf0f1;
    background-color: #1289A7;
    border: 1px solid #1289A7;
    border-radius: 50%;
}

.root {
    color: #ecf0f1;
    background-color: #12CBC4;
    border: 1px solid #ED4C67;
    border-radius: 50%;
}

.dashboard {
    border: 2px solid black;
    border-radius: 4px;
    width: 40%;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.dashboard__header {
    grid-column: 1 / -1;
    margin-bottom: 10px;
}
