*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    text-align: center;
    box-sizing: border-box;
}

.scale {
    color: steelblue;
    background-color: pink;
    border: 1px solid pink;
    border-radius: 50%;
}

.root {
    color: steelblue;
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 50%;
}