*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    text-align: center;
    box-sizing: border-box;
    color: #2d3436;
    background-color: #ecf0f1;
}

.scale {
    color: #ecf0f1;
    background-color: #d35400;
    border: 1px solid #d35400;
    border-radius: 50%;
}

.root {
    color: #ecf0f1;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 50%;
}